


.head{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

}

.style-courses{
    text-align: center;
}

.course-card{
    width: 400px;
    border-radius: 30px;
    background: darkcyan;
    padding: 20px;
}
.all-courses{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    display: flex;
}